<h1>Pages#welcome</h1>

<p>
	This is the landing page for crumblr project, Industrial Packaging Blog made on Ruby on Rails
</p>

<p>
	This page is just a placeholder. Later on, we will replace it with the post in our Blog.
</p>
 

